/*!
 * Roots 6.5.0
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { background: url('../img/textured_paper.png') fixed repeat; }
.single-ai1ec_event, .subscribe { background: #fff; }


/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

.home .page-header { display:none; }
.webcams .page-header { border-bottom: 1px solid #666; }


/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { padding:250px 0 20px 0; }
.content-info a { color: #333; }


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


/* ==========================================================================
   Time.ly Calendar overrides
   ========================================================================== */

.timely select, .timely textarea, .timely input[type="text"], .timely input[type="password"], .timely input[type="datetime"], .timely input[type="datetime-local"], .timely input[type="date"], .timely input[type="month"], .timely input[type="time"], .timely input[type="week"], .timely input[type="number"], .timely input[type="email"], .timely input[type="url"], .timely input[type="search"], .timely input[type="tel"], .timely input[type="color"], .timely .uneditable-input {
  height: auto;
}

.ai1ec-calendar-toolbar {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #2D4963;
  background-image: -moz-linear-gradient(center top , #2D4963, #2D4963);
  background-repeat: repeat-x;
  border-color: #666666;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 8px;
  padding: 4px 8px;
  text-shadow: none;
  color:#FFF;
}

.timely .dropdown-toggle {
  color: #fff !important;
}

.ai1ec-prev-page, .ai1ec-minical-trigger, .ai1ec-next-page {
  background-color: #2D4963 !important;
  background-image: -moz-linear-gradient(center top , #2D4963, #2D4963) !important;
  border-color: #2D4963 !important;
  color: #ccc !important;
  text-shadow: none !important;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) { }

@media (min-width: @screen-md) { }

@media (min-width: @screen-lg) { }
